//- footer.pug
mixin footer
    footer.footer(id="blockFooter" role="contentinfo" itemscope itemtype="https://schema.org/WPFooter")
        .footer__inner(itemscope itemtype="https://schema.org/Organization")
            a.footer__logo(href="/" aria-label="Логотип компании")
                img(src="../images-min/logo/logo-main.png" alt="Логотип лесозаготовительной компании" width="32" height="32" loading="lazy" itemprop="logo")
            address.footer__info(itemprop="address" itemscope itemtype="https://schema.org/PostalAddress")
                a(href="tel:+71234567890" itemprop="telephone") +7(123)-456-78-90
        
        .footer__contacts
            each social in ['vk', 'telegram', 'whatsapp']
                a.footer__contact(
                    href=`https://${social}.com/ваша_страница` 
                    aria-label=`Мы в ${social}` 
                    target="_blank" 
                    rel="noopener noreferrer"
                )
                    img.footer__contact-img(src=`../images-min/social/${social}.svg` alt=`Иконка ${social}` width="24" height="24" loading="lazy")